html {
	box-sizing: border-box;
}
body {
	align-self: center;
	color: #4b4b4b;
}

#wrapper {
	position: relative;
	max-width: 960px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #4b4b4b;
	margin: 0 auto; 
	font-size: 16px;
	


}
a:link {
	text-decoration: none;	
}
a:visited {
	color: inherit;
}

img  {
	
	max-width: 100%;
}
header {
	position: relative;
	max-width: 960px;
}
nav{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: lightgray;
	border-width: thin;
	border-spacing: 10px;
	
	height: 35px;
	position: relative;
}

.leftSide {
	position: relative;
	top: 10px;
	display: inline;
}
.leftSide a:hover {
	color: #598F93;
}

.rightSide {
	text-align: right;
	display: inline;
	position: absolute;
	top: 10px;
}
.rightSide  img {
	max-width: 7%;
	max-height: 7%;
	bottom: 20px;
}
h1 {
	margin-top: 25px;
	font-size: 2em;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	border-color: lightgray;
	text-align: center;
	padding: 1em;
	/*background: gray;*/
	/*background: linear-gradient(to bottom right,slategray, gray, lightgray);*/
}


form {
	margin-top: 10px; 
	box-sizing: border-box;
	width: 100%;
	height: auto;
	text-align: left;
}

#inner {
	width: 100%;
	text-align: center;
}
#inner input:nth-child(-n+3) {
	box-sizing: border-box;
	height: 3em;
	display: inline;
	color: grey;
	margin: auto;
	max-width: 33%;
	width: 33%;

}


#msg {
	margin-top: 0.5em;
	width: 99.9%;
	height: 100px;
	box-sizing: border-box;
}


#submitB {
	display: block;
	padding:10px 35px; 
	background: #4b4b4b; 
	border:0 none;
	border-radius: 4px; 
	margin-top: 2px;
	color: white;

}
footer {
	position: absolute;
	margin-top: 1.5em;
	padding-bottom: 0.6em;
	background-color: #aaa;
	color: white;
	
	width: 100%;

}
.rightSideFooter {
	text-align: right;
}
@media screen and (max-width: 907px) {

	input {
		width: 100%;
		max-width: 100%;
	}
	#inner input:nth-child(-n+3){
		width: 95%;
		max-width: 95%;
		margin-bottom: 0.5em;
	}
	.rightSide img {
		max-width: 35px;
		max-height: 35px;

	}


}


